name: Rust

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
    branches:
      - 'master'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'

jobs:
  check:
    if: github.event.pull_request.draft == false
    uses: DoumanAsh/douman-ci/.github/workflows/rust.yml@master
    with:
      min-rustc-version: "1.64.0"
      cargo-features: "serde,ufmt-write"
      cargo-no-features: true
      miri: true
      miri_flags: "-Zmiri-strict-provenance"

  wasm:
    if: github.event.pull_request.draft == false
    uses: DoumanAsh/douman-ci/.github/workflows/wasm-rust.yml@master
    with:
      cargo-features: "serde,ufmt-write"
      cargo-no-features: true
